---
import { Image } from 'astro:assets';
import Page from "@layouts/Page.astro";
---
<Page>
  <div class="flex">
    <div class="flex-1 pr-2">
      <h1 class="text-3xl pb-4 font-bold">Hi 👋 , I’m Rahul !</h1>
      <h2 class="text-2xl pb-3 font-bold">Welcome to my little space on the web.</h2>
      <p>
        A curious lifelong learner from Ahmedabad, India. Professionally, I’m currently working at
        <a class="underline" target="_blank" href="https://www.backbase.com/">Backbase</a>.
      </p>
      <p>
        In my free time, I enjoy swimming, cycling, experimenting with cooking, playing the ukulele and guitar,
        and exploring new things.
      </p>
    </div>
    <div>
      <Image class="w-[200px] rounded-xl grayscale hover:grayscale-0 hidden md:block"
             alt="Rahul Chavda" loading="eager" src="/images/rahul-chavda-avatar.webp"
             width="200" height="200" />
    </div>
  </div>
  <p>
    This is where I share my thoughts, projects, ideas, and the things I care about. Thanks for stopping by!
  </p>
</Page>
