---
import { Icon } from 'astro-icon/components'
---

<footer>
  <div class="social-icons flex items-center justify-center p-4">
    <a href="https://github.com/rahul-chavda" target="_blank" title="GitHub" aria-label="github">
      <Icon name="mdi:github"/>
    </a>
    <a href="https://www.linkedin.com/in/rahul-chavda/" target="_blank" title="Linkedin" aria-label="linkedin">
      <Icon name="mdi:linkedin"/>
    </a>
    <a href="https://instagram.com/this.rahul_chavda" target="_blank" title="Instagram" aria-label="instagram">
      <Icon name="mdi:instagram"/>
    </a>
  </div>
</footer>
