---
import { Image } from 'astro:assets';
---

<header>
  <nav class="nav-links flex items-center select-none">
    <a href="/">
      <Image class="rounded-2xl w-12" alt="Site Avatar" src="/icons/avatar.webp"
             width='48' height='48' loading='eager'/>
    </a>
    <a href="/">home</a> &bull;
    <a href="/thoughts">thoughts</a> &bull;
    <a href="/files/RahulChavda-CV-7-Years.pdf">resume</a>
  </nav>
</header>
